@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    var log = Model.ChatLog.ToArray();
}

<section>
    @{ int i = 0; }
    @foreach (var msg in log)
            {
                <partial name="_chatMessage" model="log[i]" />
        i++;
    }
</section>

<form asp-page="./index" method="post">
    <label asp-for="Message.UserName">User:</label>
    <input asp-for="Message.UserName" />
    <label asp-for="Message.Message">Message:</label>
    <input asp-for="Message.Message" />
    <label asp-for="Message.WasRead"></label>
    <input asp-for="Message.WasRead" />
    <input type="submit" />
</form>